body {
    background-color: #2B2926;
    color: #f2f2f2;
}

.home-section {
    background-color: #2B2926;
}

.home-section:nth-of-type(2n) {
    background-color: #333;
}

.section-heading h1 {
    color: #fff;
}

#profile .portrait-title h2 {
    color: #fff;
}

#profile .portrait-title h3 {
    color: #ccc;
}

ul.ul-edu li .description p.institution {
    color: #ccc;
}

.projects-section {
    background-color: #333;
}

a, .article-title a {
    color: #F9F5D3;
}

ul.share li a {
    background-color: #FF8040;
}

a:focus, a:hover, .article-title a:hover, h3.article-title a:hover {
    color: #FF8040;
}

#contact.home-section .fa-li {
    color: rgb(168, 168, 161);
}

.btn-toolbar .btn {
    box-shadow: 0 0 1px 0 rgba(255, 255, 255, .8);
}

.btn-toolbar .btn.btn-primary.active, .btn-toolbar .btn.btn-primary:active {
    background-color: #FE6318 !important;
    box-shadow: 0 0 0 0.2rem #FFB693;
}

.btn-toolbar .btn.btn-primary:focus, .btn-toolbar .btn.btn-primary:hover {
    background-color: #FE6318 !important;
}

.btn-toolbar .btn.btn-primary:hover {
    z-index: 0;
}

.btn-toolbar .btn.btn-primary.active:hover {
    z-index: 999;
}

.btn-primary, .btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    background-color: #FF8040 !important;
}

.navbar-default {
    background: #2B2926;
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #f2f2f2;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover {
    color: #FF8040;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #FFB693;
}

.btn-primary, .btn-primary.active {
    background: #FF8040;
    border-color: #fff;
}

.btn-outline-primary {
    color: #FF8040;
    border-color: #FF8040;
}

.btn-outline-primary:hover {
    background-color: #FF8040;
    border-color: #FF8040;
}

.card {
    background: #181A1B;
    color: #f1f1f1;
    border: 1px solid #555;
}

.card h4 a {
    color: #fff;
    border-bottom: none;
}

.card h4 a:hover {
    color: #FF8040;
    border-bottom: 1px solid #FF8040;
    text-decoration: none;
}

.card .card-text p {
    color: #f1f1f1;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(254, 99, 24, .8);
}

.form-control {
    color: #fff;
    background-color: #434759;
}

.form-control:focus {
    border-color: #FF9F71;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(254, 140, 86, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(254, 140, 86, .6);
}