:root {
    --global-font-size: 16px;
    --font-stack: Roboto Mono, monospace;
    --global-line-height: 1.6em;
    --page-width: 70em;
    --display-h1-decoration: 1;
    --background: #F9F9F9;
    --invert-font-color: var(--background);
    --font-color: #282828;
    --global-font-color: #3C3836;
    --primary-color: #065FD4;
    --secondary-color: var(--primary-color);
    --scrollbar-track-color: #F3F3F3;
    --scrollbar-thumb-color: #6e6e6e;
}

:root.dark-theme {
    --background: #282828;
    --font-color: #F9F9F9;
    --global-font-color: #E4E6EB;
    --primary-color: #FE8019;
    --scrollbar-track-color: #222222;
    --scrollbar-thumb-color: #787878;
}

/* The scrollbar configuration works only on Chrome, Edge and Safari. */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 20px;
    border: 3px solid var(--scrollbar-track-color);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--global-font-color);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--primary-color);
}

.sidebar-heading {
    text-transform: none;
    letter-spacing: 0;
    font-weight: 400;
}

.box-masonry .box-masonry-image {
    background: #FFFFFF;
}

.box-masonry,
.box-masonry:hover {
    box-shadow: none;
}

.label {
    font-family: var(--font-stack);
}

body {
    font-family: var(--font-stack);
    font-size: var(--global-font-size);
    background-color: var(--background);
    margin-bottom: 60px;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--font-stack);
    clear: both;
}

h1 {
    margin-bottom: 150px;
}

li {
    color: var(--global-font-color);
}

p, li {
    /* HACK: disable font size inflation on browsers which ignore `text-size-adjust`. */
    max-height: 10000em;
}

strong {
    font-weight: bold;
}

.logo {
    font-weight: 500;
}

.terminal-menu li {
    margin-right: 30px;
    font-weight: 500;
}

.terminal-menu li a:not(.btn) {
    color: var(--primary-color);
}

.terminal-menu li button {
    cursor: pointer;
    font-family: var(--font-stack);
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    text-align: left;
    font-weight: 500;
    padding-right: 0;
    padding-left: 0;
}

.terminal-menu li a:hover,
.terminal-menu li button:hover {
    color: var(--invert-font-color);
    background-color: var(--primary-color);
}

.footer {
    clear: both;
    margin-top: 100px;
    padding-top: 10px;
    border-top: 1px solid var(--global-font-color);
    color: var(--global-font-color);
    text-align: center;
}

.image-grid {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit,
    minmax(calc(var(--page-width) / 4), 1fr));
}

.terminal-prompt::after {
    -webkit-animation: cursor 1s infinite;
    animation: cursor 1s infinite;
    width: 9px;
    margin-left: 0;
}

.terminal-prompt::before {
    content: none;
}

.terminal-nav *,
.terminal-nav *::after {
    font-size: calc(var(--global-font-size) * 1.08);
}

.gallery-image {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post h2 {
    margin-bottom: calc(var(--global-line-height) * 0.2);
}

.projects-list {
    position: relative;
    top: 0;
}

.project h2 {
    padding-top: 0;
    margin: 0 0 5px;
}

.talks-list {
    position: relative;
    padding-left: 140px;
    top: 0;
}

.talk h2 {
    padding-top: 0;
    margin: 0 0 2px;
}

.talks-list .date {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 130px;
    z-index: 400;
    font-weight: 500;
    padding-top: 0;
}

@media only screen and (max-width: 850px) {
    :root {
        --global-font-size: 17px;
    }

    h1 {
        padding: calc(var(--global-space) * 1.1) 0 calc(var(--global-space) * 2);
    }

    p {
        margin: 0 0 calc(var(--global-line-height) * 0.7);
    }

    .logo {
        padding: var(--global-space) 0 var(--global-space);
    }

    .site-name {
        text-transform: uppercase;
        width: 2ch;
        overflow: hidden;
        display: inline-flex;
    }

    .terminal-nav {
        align-items: flex-start;
        flex-direction: column;
        display: flex;
    }

    .terminal-nav *,
    .terminal-nav *::after {
        font-size: calc(var(--global-font-size) * 1.15);
    }

    .terminal-menu ul {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 0;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .terminal-menu li {
        margin-right: 20px;
        font-weight: 500;
    }

    .projects-list {
        position: relative;
        padding-left: 0;
        top: 0;
    }

    .project h2 {
        padding-top: 0;
    }

    .talks-list {
        position: relative;
        padding-left: 0;
        top: 0;
    }

    .talk h2 {
        padding-top: 0;
    }

    .talks-list .date {
        display: none;
    }

    .footer {
        margin-top: 50px;
        padding-top: 5px;
    }
}
