/*************************************************
 *  Core
 **************************************************/

*,
*::after,
*::before {
    box-sizing: border-box
}

.row:after, .row:before {
    content: " ";
    display: table
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 1.6
}

@media screen and (min-width: 58em) {
    html {
        font-size: 20px
    }
}

body {
    font-family: inherit;
    font-size: 1.15rem;
    line-height: inherit;
    color: inherit;
    margin-top: 49px; /* Offset body content by navbar height. */
    padding-top: 0;
    counter-reset: captions;
}

@media screen and (max-width: 1200px) {
    /* Match max-width of .nav-bar query. */
    body {
        margin-top: 47px /* Offset body content by navbar height. */
    }
}

.max-width-640 {
    max-width: 640px
}

.margin-auto {
    margin-left: auto;
    margin-right: auto
}

.center-text {
    text-align: center
}

dl, ol, p, ul {
    margin-top: 0;
    margin-bottom: 1rem
}

.navbar-default, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.25;
    text-rendering: optimizeLegibility
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem
}

h1 {
    font-size: 2.25rem
}

h2 {
    margin-top: 1rem;
    font-size: 1.5rem
}

h3 {
    font-weight: 700;
    margin-top: 1.25rem;
    font-size: 1.25rem
}

h4, h5, h6 {
    font-weight: 700;
    font-size: 1rem
}

a, h3.article-title {
    color: #0076DF;
    text-decoration: none;
    transition: color .6s ease
}

a:focus, a:hover, h3.article-title:hover {
    color: #3bb6ff;
    text-decoration: none
}

img, video {
    height: auto;
    max-width: 100%;
    display: block
}

.img-responsive {
    /* Extend Bootstrap declaration with centering. */
    margin: 0 auto
}

figcaption:before {
    font-weight: 700;
    text-transform: uppercase;
    content: "Figure " counter(captions) ": ";
}

figcaption {
    display: block;
    margin-top: .75em;
    line-height: 1.25;
    font-size: 1rem;
    margin-bottom: 1.65rem;
    font-family: 'Roboto', sans-serif;
    counter-increment: captions;
}

figcaption h4 {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin: 0
}

code, pre {
    font-family: 'Roboto', sans-serif
}

pre {
    margin: 0 0 1rem;
    overflow: auto
}

hr {
    border: 0;
    height: 1px;
    background: #333 linear-gradient(90deg, #ccc, #333, #ccc)
}

/* Quotes */
blockquote {
    padding: .5rem 1rem;
    margin: .8rem 0;
    color: #7a7a7a;
    border-left: .25rem solid #e5e5e5
}

blockquote p:last-child {
    margin-bottom: 0
}

@media (min-width: 30em) {
    blockquote {
        padding-right: 5rem;
        padding-left: 1.25rem
    }
}

.space-below {
    margin-bottom: 50px
}

@media screen and (max-width: 768px) {
    .space-below {
        margin-bottom: 10px
    }
}

.universal-wrapper {
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%
}

@media only screen and (min-width: 1001px) {
    .universal-wrapper {
        width: 1000px
    }
}

.small, small {
    font-size: .75em
}

/*************************************************
 *  Home Sections
 **************************************************/

.home-section {
    background-color: #fff;
    padding: 110px 0;
    animation-delay: .15s
}

.home-section:first-of-type {
    padding-top: 12px;
    padding-bottom: 35px
}

.home-section:nth-of-type(2n) {
    background-color: #f7f7f7
}

@media screen and (max-width: 768px) {
    .home-section {
        padding: 60px 0
    }

    .home-section:first-of-type {
        padding-top: 40px
    }
}

.section-heading h1 {
    margin: 0 0 10px
}

.section-heading p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #b2b2b2
}

/*************************************************
 *  Biography
 **************************************************/

#profile {
    text-align: center;
    padding: 30px 10px;
    position: relative;
}

#profile .portrait {
    background-image: url(../img/profile_pic.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

#profile .portrait-title h2 {
    font-size: 1.5em;
    font-weight: 300;
    color: #000;
    margin: 20px 0 10px;
}

#profile .portrait-title h3 {
    font-size: 1em;
    font-weight: 300;
    color: #333;
    margin: 0 0 10px;
}

#profile ul.social-icon {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-top: 30px
}

#profile .social-icon li {
    margin-right: 10px
}

#profile .social-icon li:last-of-type {
    margin-right: 0
}

#profile .social-icon li:hover {
    transform: scale(1.2)
}

#description {
    padding-top: 30px
}

.big-icon {
    font-size: 2rem
}

ul.ul-interests li {
    font-size: .95rem
}

ul.ul-edu {
    list-style: none
}

ul.ul-edu li {
    position: relative;
    padding: 0 15px 4px 3px
}

ul.ul-edu li .description p {
    margin: 0
}

ul.ul-edu li .description p.course {
    font-size: .95rem
}

ul.ul-edu li .description p.institution {
    font-size: .9rem;
    color: #333
}

/*************************************************
 *  Sharing
 **************************************************/

.share-box {
    float: right
}

ul.share {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0
}

ul.share li {
    display: inline-flex;
    margin-right: 5px
}

ul.share li:last-of-type {
    margin-right: 0
}

ul.share li .fa {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    transition: all .15s ease-in-out;
    color: #fff
}

ul.share li a {
    background-color: #b5c6ce;
    display: block;
    border-radius: 50%;
    text-decoration: none !important;
    margin: 0
}

ul.share li:hover .fa {
    transform: scale(1.4)
}

/*************************************************
 *  Stream
 **************************************************/

.media.stream-item {
    margin-bottom: 0
}

.media.stream-item .article-title {
    font-size: 1.5rem;
    padding: 0;
    margin-top: 0
}

.media.stream-item .article-style {
    margin-top: 2px;
    font-size: 18px;
    padding: 0
}

.media.stream-item .stream-meta {
    margin-top: 12px;
    padding: 0
}

.media.stream-item .article-image {
    float: right;
    padding: .7rem 0
}

.media.stream-item img {
    height: auto;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: .3rem;
    float: right
}

@media screen and (max-width: 768px) {
    .media.stream-item img {
        max-width: 100%
    }
}

/*************************************************
 *  Blog Articles
 **************************************************/

article {
    animation-delay: .15s
}

.article-container {
    max-width: 760px;
    padding: 1rem 20px 0;
    margin: 0 auto
}

.article-header {
    position: relative;
    clear: both
}

.article-banner {
    width: 100%;
    height: auto
}

.article-header-caption {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 2px 5px;
    color: #fff;
    font-size: .7em;
    background: #000;
    text-align: right;
    z-index: 3;
    opacity: .65;
    border-radius: 5px 0 0 0
}

@media (min-width: 64em) {
    .article-header-caption {
        padding: 5px 10px
    }
}

.article-header-caption a {
    color: #fff;
    text-decoration: none
}

.article-title {
    font-size: 1.75rem
}

.article-metadata {
    margin-bottom: 0;
    line-height: 30px; /* Match share bar line height. */
    font-size: 16px;
    letter-spacing: .03em;
    color: #888
}

.article-metadata a {
    color: #888
}

.article-metadata a:hover {
    color: #0095eb
}

.article-list-item {
    margin-bottom: 40px
}

.article-list-item:last-child {
    margin-bottom: 0 !important
}

.article-list-item .article-metadata {
    margin-bottom: 5px
}

.article-metadata .article-categories, .article-metadata .article-date, .article-metadata .article-tags {
    margin-right: 10px
}

.article-style img, .article-style video {
    box-shadow: 1px 1px 0 #edefed, -1px -1px 0 #edefed, 1px -1px 0 #edefed, -1px 1px 0 #edefed;
    margin: 60px auto;
    padding-left: 0;
    padding-right: 0
}

.article-style figure {
    margin-top: 60px;
    margin-bottom: 60px
}

.article-style figure img {
    margin-top: 0;
    margin-bottom: 0
}

#comments {
    padding-top: 1rem
}

/*************************************************
 *  Publications
 **************************************************/

.pub-icon {
    color: #03396c;
    font-size: .81em;
    padding-top: 6px
}

.pub-banner {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto
}

.pub .pub-title {
    margin-bottom: 5px
}

.pub .pub-authors {
    font-style: italic;
    line-height: 30px /* Match share bar line height. */
}

.pub .pub-row-heading {
    font-weight: 700
}

.pub-list-item {
    margin-bottom: 40px
}

.pub-list-item .pub-abstract {
    font-size: 1rem
}

.pub-list-item .pub-authors {
    line-height: normal;
    font-style: normal;
    font-size: 1rem;
    color: #3170a5
}

.pub-list-item .pub-publication {
    color: #090;
    font-size: 1rem
}

.pub-list-item .pub-links {
    padding-top: 10px
}

#container-publications {
    display: block;
    position: relative;
    overflow: hidden
}

/*************************************************
 * Talks
 **************************************************/

.talk-event {
    color: #090;
    font-size: 1rem
}

/*************************************************
 *  Projects
 **************************************************/

#projects.home-section li {
    margin-bottom: 1rem
}

#projects.home-section li:last-of-type {
    margin-bottom: 0
}

#projects.home-section .project-title {
    display: inline-block;
    margin-bottom: 6px
}

#projects.home-section .project-summary {
    font-size: .9rem;
    margin-bottom: .4rem
}

#projects.home-section .project-tags {
    font-size: .75rem;
    color: #9c9c9c
}

#container-projects {
    display: block;
    position: relative;
    overflow: hidden
}

.project-toolbar {
    margin-bottom: 1.8rem;
    margin-top: 13px
}

.isotope-item {
    z-index: 1
}

.isotope-item:hover {
    z-index: 2
}

.projects-section {
    background-color: #f7f7f7;
    padding: 28px 0 85px;
    animation-delay: .15s
}

/*************************************************
 *  Card component
 **************************************************/

.card {
    margin-bottom: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .5);
    transition: all .3s ease-out;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: .3rem
}

.card .card-image {
    display: block;
    position: relative;
    min-height: 100px
}

.card h4 {
    font-size: .95rem;
    font-weight: 700
}

.card h4 a {
    color: #000;
    border-bottom: 1px solid transparent
}

.card h4 a:hover {
    color: #3bb6ff;
    text-decoration: none
}

.card .card-text {
    padding: 0 .7rem .45rem
}

.card .card-text p {
    color: #000;
    font-size: 16px
}

.card p:last-child {
    margin-bottom: 0
}

.card:hover {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .4)
}

.card:hover .card-image.hover-overlay {
    -webkit-filter: contrast(115%); /* Safari */
    filter: contrast(115%);
}

/*************************************************
 *  Contact
 **************************************************/

#contact.home-section .fa-ul {
    margin-left: 3.14285714rem /* Must be > `fa-2x` icon size. */
}

#contact.home-section .fa-li {
    position: absolute;
    left: -3.14285714rem; /* Negative of `#contact.home-section .fa-ul` margin. */
    width: 2rem; /* Match `fa-2x` icon size. */
    top: .14285714em; /* Default FA value. */
    text-align: center
}

#contact.home-section li {
    padding-top: .8rem; /* Align text with bottom of `fa-2x` icon. */
    margin-bottom: .3rem
}

#contact.home-section li:last-of-type {
    margin-bottom: 0
}

/*************************************************
 *  Footer
 **************************************************/

footer {
    margin: 3.25rem 0 0;
    padding: 2rem 0;
    width: 100%
}

footer p {
    font-size: .8rem;
    text-align: center
}

.site-footer, footer a#back_to_top i {
    color: #899596
}

/*************************************************
 *  Button size override
 *************************************************/

.btn {
    padding: .5rem;
    font-size: .8rem;
    line-height: .5;
    border-radius: .3rem
}

.btn.btn-sm {
    padding: .4rem;
    font-size: .6rem;
    border-radius: .2rem
}

/*************************************************
 *  Button Primary: Color override
 **************************************************/

.btn-primary {
    border-color: #0095eb
}

.btn-primary,
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
    background: #0095eb
}

/*************************************************
 *  Toolbar Buttons
 **************************************************/

.btn-toolbar .btn {
    font-size: 1rem;
    padding: 10px 14px 9px;
    border: none;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .8)
}

.btn-toolbar .btn:first-child {
    border-radius: 6px 0 0 6px
}

.btn-toolbar .btn:last-child {
    border-radius: 0 6px 6px 0
}

.btn-toolbar .btn.btn-primary:focus,
.btn-toolbar .btn.btn-primary:hover {
    background-color: #0076df !important;
    z-index: 1;
}

.btn-toolbar .btn.btn-primary.active,
.btn-toolbar .btn.btn-primary:active {
    background-color: #0076df !important;
    box-shadow: 0 0 0 .2rem #3bb6ff
}

.btn-toolbar .btn.btn-primary.active:hover,
.btn-toolbar .btn.btn-primary.active:focus {
    z-index: 999;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #3bb6ff
}

.btn-primary.btn-outline {
    color: #0095eb;
    border-color: #0095eb
}

.btn-danger.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-warning.btn-outline:hover {
    color: #fff
}

/*************************************************
 *  Navigation Bar
 **************************************************/

.navbar {
    min-height: 48px !important
}

.navbar .nav-item {
    text-align: center;
}

.navbar-default {
    background: #fff;
    box-shadow: 0 .125rem .25rem 0 rgba(0, 0, 0, .11)
}

nav#navbar-main li {
    font-size: 17px
}

.navbar-default .navbar-nav > a:focus,
.navbar-default .navbar-nav > a:hover,
.navbar-default .navbar-nav > li > a {
    white-space: nowrap;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    color: #34495e;
    font-weight: 600
}

.navbar-default .navbar-nav > li > a:hover {
    white-space: nowrap;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    color: #0076DF;
    font-weight: 600
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #0076DF;
    font-weight: 700;
    background-color: transparent !important /* Override Bootstrap. */
}

.navbar-brand, .navbar-nav li a {
    height: inherit;
    padding-top: 14px;
    padding-bottom: 14px
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #34495e;
    white-space: nowrap
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0095eb;
    outline: 0
}

.navbar-default .navbar-brand {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    color: #2b2b2b
}

@media screen and (max-width: 1200px) {
    .navbar {
        min-height: 48px !important
    }

    .navbar-brand, .navbar-nav li a {
        height: inherit;
        line-height: 40px;
        padding-top: 5px;
        padding-bottom: 5px
    }

    .navbar-header {
        float: none;
        min-height: inherit
    }

    .navbar-left, .navbar-right {
        float: none !important
    }

    .navbar-toggle {
        display: block
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px
    }

    .navbar-collapse.collapse {
        display: none !important
    }

    .navbar-nav {
        float: none !important;
        margin-top: 8px
    }

    .navbar-nav > li {
        float: none
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: normal
    }

    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #34495e;
        white-space: nowrap
    }

    .navbar-default .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 15px 5px 25px;
        line-height: 20px;
        color: #34495e
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: inherit;
        background-color: transparent
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #0095eb;
        background-color: transparent
    }

    .collapse.in {
        display: block !important
    }
}

/*************************************************
 *  Tables
 **************************************************/

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    font-size: .93rem
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.43;
    vertical-align: top;
    border-top: 1px solid #ddd
}

table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
    border-top: 0
}

table > tbody + tbody {
    border-top: 2px solid #ddd
}

table table {
    background-color: #fff
}

/* Table Striped */
table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9
}

/* Table Hover */
table > tbody > tr:hover > td,
table > tbody > tr:hover > th {
    background-color: #e5e5e5
}

/*************************************************
 *  Alerts
 **************************************************/

div.alert {
    border-radius: 10px;
    margin-bottom: 1rem
}

div.alert p {
    position: relative;
    display: block;
    font-size: 1rem;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0
}

div.alert p:first-child:before {
    position: absolute;
    top: -.5rem;
    left: -2rem;
    font-family: 'FontAwesome', serif;
    font-size: 1.5rem;
    color: #fff;
    content: "\f05a";
    width: 1.5rem;
    text-align: center
}

div.alert-warning p:first-child:before {
    content: "\f071"
}

div.alert a {
    color: hsla(0, 0%, 100%, .9);
    text-decoration: none;
    border-bottom: 1px solid #e4e4e4;
    transition: color .2s ease-in-out, border-color .2s ease-in-out
}

div.alert a:hover {
    border-bottom-color: transparent;
    color: hsla(0, 0%, 100%, .5) !important
}

.alert-note {
    color: #fff;
    background-color: #03a9f4; /* Material LightBlue500 */
    border-color: #bce8f1
}

.alert-warning {
    color: #fff;
    background-color: #f44336; /* Material Red500 */
    border-color: #ebccd1
}

/*************************************************
 *  Contact
 **************************************************/

.form-inline {
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    align-items: center
}

.form-group {
    margin-bottom: 1rem
}

@media (min-width: 576px) {
    .form-inline label {
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0
    }

    .sr-only {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap
    }
}

@media (min-width: 576px) {
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .w-100 {
        width: 100% !important
    }

    .form-control {
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        resize: vertical
    }
}

.pl-3, .px-3 {
    padding-left: 1rem !important
}

.pr-3, .px-3 {
    padding-right: 1rem !important
}

.pb-2, .py-2 {
    padding-bottom: .5rem !important
}

.pt-2, .py-2 {
    padding-top: .5rem !important
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.btn-outline-primary {
    color: #0095eb;
    background-color: transparent;
    background-image: none;
    border-color: #0095eb
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
    color: #fff;
    background-color: #0095eb;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-color: #0095eb
}

#theme-change {
    width: 45px;
    display: inline-block;
}